{% load checkbox %}
{% load i18n %}
{% get_checkbox %}

<section>

	<h1>{% trans "Services' State" %}</h1>

	<table class="monitoring_lights">
	{% for service,status in services.items %}
		<tr>
			<td><img src="{{ MEDIA_URL }}static/images/light_{{ status|lower }}.png" alt="{{ status }}" /></td>
			<td>{% trans service %}</td>
	{% endfor %}
	</table>
</section>

<section>

	<h1> {% trans "ADSL 1" %} </h1>


			<a href="../pages/monitoring#ADSL1">
				<div class="img_a"><img src="{{ MEDIA_URL }}monitoring/mini_adsl1.png" alt={% trans "ADSL 1 Latency" %}></div>
			</a>
		

</section>

<section>

	<h1>{% trans "ADSL 2" %}</h1>

			<a href="../pages/monitoring#ADSL2">
				<div class="img_a"><img src="{{ MEDIA_URL }}monitoring/mini_adsl2.png" alt={% trans "ADSL 2 Latency" %}></div>
			</a>

</section>

<section>

	<h1>{% trans "ADSL 3" %}</h1>

			<a href="../pages/monitoring#ADSL3">
				<div class="img_a"><img src="{{ MEDIA_URL }}monitoring/mini_adsl3.png" alt={% trans "ADSL 3 Latency" %}></div>
			</a>

</section>

<section>

	<h1>{% trans "SDSL" %}</h2>

			<a href="../pages/monitoring#SDSL">
				<div class="img_a"><img src="{{ MEDIA_URL }}monitoring/mini_sdsl.png" alt={% trans "SDSL Latency" %}></div>
			</a>

</section>
