{% load checkbox %}
{% load i18n %}
{% get_checkbox %}

<section>
	<h1>{% trans "Services' State" %}</h1>

	<table class="monitoring_lights">
	{% for service,status in services.items %}
		<tr>
			<td><img src="{{ MEDIA_URL }}static/images/light_{{ status|lower }}.png" alt="{{ status }}" /></td>
			<td>{% trans service %}</td>
	{% endfor %}
	</table>
</section>

<section>
	<h1>{% trans "Bandwidth Usage" %}</h1>

	<dl>
		<dt>{% trans "ADSL 1" %}</dt>
			<dd><img src="{{ MEDIA_URL }}monitoring/mini_if_re1.png"></dd>
		<dt>{% trans "ADSL 2" %}</dt>
			<dd><img src="{{ MEDIA_URL }}monitoring/mini_if_re2.png"></dd>
		<dt>{% trans "SDSL" %}</dt>
			<dd><img src="{{ MEDIA_URL }}monitoring/mini_if_re3.png"></dd>
	</dl>
