{% extends "base.html" %}

{% load i18n %}

{% block head-title %} - {{ title }}{% endblock %}
{% block content-title %}{{ title }}{% endblock %}

{% block content %}
<article>

	<div class="page_text">
		{% blocktrans %}
		List of presence maizs' administrator :
		{% endblocktrans %}

		<ul>
			{% for admin in admins %}
			<li>{% blocktrans with admin.first_name as first and admin.last_name as last and admin.get_profile.room.number as room %}{{first}} {{last}} : room {{room}}{% endblocktrans %}</li>
			{% endfor %}
		</ul>
	</div>
</article>
{% endblock %}

