/*
 * vim: fileencoding=utf8 ts=8 noexpandtab :
 *
 * ~~~~ Maiznet.fr ~~~~
 *
 *  -> media/static/css/style.css
 *
 *
 * Copyright 2011 Rémy Sanchez <remy.sanchez@hyperthese.net>
 *
 * This file is distributed under the terms of the WTFPL. For more
 * informations, see http://sam.zoy.org/wtfpl/COPYING
 */

nav h1 {
	display: none;
}

/*
 * Global layout
 */

body, html {
	height: 100%;
}

html {
	background: rgb(16,45,49); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(16,45,49,1) 0%, rgba(33,108,130,1) 50%, rgba(16,45,49,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,45,49,1)), color-stop(50%,rgba(33,108,130,1)), color-stop(100%,rgba(16,45,49,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(16,45,49,1) 0%,rgba(33,108,130,1) 50%,rgba(16,45,49,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(16,45,49,1) 0%,rgba(33,108,130,1) 50%,rgba(16,45,49,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(16,45,49,1) 0%,rgba(33,108,130,1) 50%,rgba(16,45,49,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#102d31', endColorstr='#102d31',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(16,45,49,1) 0%,rgba(33,108,130,1) 50%,rgba(16,45,49,1) 100%); /* W3C */
	background-attachment: fixed;
}

#wrapper {
	position: relative;
}

#sidebar {
	position: absolute;
	width: 250px;
	right: 0;
	top: 0;
}

#content {
	margin-right: 280px;
	margin-left: 15px;
	padding: 10px;
}

/*
 * Éléments généraux
 */

input {
	border: 1px solid #3a3c41;
	border-radius: 4px;
	-moz-border-radius: 4px;

	background-color: white;
	line-height: 150%;
	padding: 3px;

	-webkit-box-shadow:inset 0 0 10px #3a3c41;
	-moz-box-shadow:inset 0 0 10px #3a3c41;
	box-shadow:inset 0 0 10px #3a3c41;
}

input:focus, input:hover {
	border: 1px solid #1f6579;

	-webkit-box-shadow:inset 0 0 10px #1f6579;
	-moz-box-shadow:inset 0 0 10px #1f6579;
	box-shadow:inset 0 0 10px #1f6579;
}

a {
	text-decoration: none;
	color: #171b1e;
	border-bottom: 1px dashed #aaa;
}

a:hover {
	border-bottom: 1px solid #171b1e;
}

/*
 * Header
 */

body > header nav > ul > li {
	background: rgb(201,201,201); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,201,201,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(201,201,201,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(201,201,201,1) 0%,rgba(237,237,237,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(201,201,201,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(201,201,201,1) 0%,rgba(237,237,237,1) 100%); /* W3C */

	line-height: 30px;
	padding: 0 13px;

	border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;

	display: inline-block;
	position: relative;
}

body > header nav > ul {
	text-align: center;
	padding: 0 20px;
}

body > header nav > ul > li > div.submenu {
	display: none;
	position: absolute;
	z-index: 10;
	left: 0;

	width: 100%;
	height: 5px;

	background-color: #ededed;

	text-align: left;
}

body > header nav > ul > li > div.submenu > ul {
	margin-top: 4px;
	border-radius: 0 15px 15px 15px;
	-moz-border-radius: 0 15px 15px 15px;

	min-width: 150%;
	padding: 0 15px;

	font-size: 95%;

	background: rgb(237,237,237); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(173,194,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(173,194,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(173,194,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(173,194,200,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(173,194,200,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#adc2c8',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(237,237,237,1) 0%,rgba(173,194,200,1) 100%); /* W3C */

	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

body > header nav > ul > li:hover > div.submenu, body > header nav > ul > li > div.submenu:hover {
	display: block;
}

body > header nav > ul > li > div.submenu a:before {
	content: "\25e6 \0020";
	text-align: left;
}

body > header nav > ul > li > div.submenu a:hover:before {
	content: "\2022 \0020";
}

body > header nav {
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 280px;
}

body > header a {
	font-weight: bold;
}

/*
 * Sidebar
 */

#sidebar {
	padding: 0;
	padding-right: 15px;
}

#sidebar > section {
	background: rgb(192,192,192); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,192,192,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(192,192,192,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(192,192,192,1) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(192,192,192,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(192,192,192,1) 0%,rgba(255,255,255,1) 100%); /* W3C */

	border-radius: 20px;
	-moz-border-radius: 20px;
	padding: 15px;

	margin-bottom: 15px;
}

#sidebar > section:last-child {
	margin-bottom: 0;
}

#sidebar > section > h1 {
	background: rgb(23,27,30); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(23,27,30,1) 0%, rgba(58,60,65,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,27,30,1)), color-stop(100%,rgba(58,60,65,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(23,27,30,1) 0%,rgba(58,60,65,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(23,27,30,1) 0%,rgba(58,60,65,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(23,27,30,1) 0%,rgba(58,60,65,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171b1e', endColorstr='#3a3c41',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(23,27,30,1) 0%,rgba(58,60,65,1) 100%); /* W3C */

	margin: -15px;
	margin-bottom: 10px;

	border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;

	font-size: 105%;
	text-align: center;

	padding: 10px;

	font-weight: bold;
	color: #ebecec;
}

#sidebar table.monitoring_lights {
	width: 100%;
}

#sidebar table.monitoring_lights td:first-child {
	width: 40px;
	text-align: left;
}

#sidebar table.monitoring_lights tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}

/*
 * Content
 */

#content {
	background: rgb(192,192,192); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,192,192,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(192,192,192,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(192,192,192,1) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(192,192,192,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(192,192,192,1) 0%,rgba(255,255,255,1) 100%); /* W3C */

	border-radius: 20px;
	-moz-border-radius: 20px;

	padding: 15px;

	margin-bottom: 15px;

	text-align: justify;
}

#content p {
	margin-bottom: 0.7em;
}

#content > h1 {
	background: rgb(23,27,30); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(23,27,30,1) 0%, rgba(58,60,65,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,27,30,1)), color-stop(100%,rgba(58,60,65,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(23,27,30,1) 0%,rgba(58,60,65,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(23,27,30,1) 0%,rgba(58,60,65,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(23,27,30,1) 0%,rgba(58,60,65,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171b1e', endColorstr='#3a3c41',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(23,27,30,1) 0%,rgba(58,60,65,1) 100%); /* W3C */

	margin: -15px;
	margin-bottom: 10px;

	border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;

	font-size: 105%;
	text-align: center;

	padding: 10px;

	font-weight: bold;
	color: #ebecec;
}

#content h2, #content header > h1 {
	font-size: 105%;
	margin-top: 1.3em;
	margin-bottom: 0.7em;
	border-bottom: 1px solid #3a3c41;
}

#content h1 a, #content h2 a {
	border-bottom: none;
}

#content article time {
	font-weight: bold;
}

#content article footer {
	font-size: 80%;
	color: #666;
}

#content article .article_text {
	margin: 0 10px;
	padding-left: 5px;
	border-left: 1px dashed #aaa;
}

#content article.maintenance h1, #content article.maintenance h1 a {
	color: #a40505;
}

#content article.maintenance h1:before {
	content: url('../images/warning.png');
	vertical-align: middle;
	margin-right: 4px;
}

#content ul {
	padding-left: 2em;
}

#content li {
	list-style-type: none;
	list-style-position: inside;
	margin-bottom: 0.3em;
}

#content li:last-child {
	margin-bottom: 0;
}

#content li:before {
	content: "\2013 \0020";
}

/* Formulaires */
#content form table {
	border-collapse: collapse;
	width: 100%;
}

#content form table td, #content form table th {
	padding: 3px;
	padding-bottom: 10px;
	vertical-align: middle;
}

#content form table th {
	background-color: rgba(0, 0, 0, 0.05);
}

#content form table td {
	font-size: 80%;
	color: #666;
}

#content form table tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.09);
}

#content form input[type="text"], #content form input[type="password"] {
	width: 20em;
}

#content form ul.errorlist {
	font-weight: bold;
	color: red;
}

#content form ul {
	padding: 0;
}

#content form li:before {
	content: "";
}

#content form td[colspan="2"] {
	padding: 15px;
	text-align: center;
}

#content form td[colspan="2"] input {
	padding: 10px;
}
