{% extends "base.html" %}

{% load i18n %}

{% block head-title %}- {% trans "News" %}{% endblock %}
{% block content-title %}{% trans "News" %}{% endblock %}

{% block content %}
{% for new in news %}
	{% if new.category.slug == "maintenance" %}
	<header> <h1><a href="{% url news-read slug=new.slug %}">{{new.title}}</a></h1> </header>
	<article> <p>{{new.content|truncatewords:20}}</p>
	<p>{% if new.date_end %}
		{% trans "From" %} {{new.date_start}} {% trans "to" %} {{new.date_end}}.
	{% else %}
		{% trans "Posted the" %} {{new.date_start}}.
	{% endif %}</p></article>
	{%endif%}
{% endfor %}
{% for new in news %}
	{% if new.category.slug != "maintenance" %}
	<header> <h1><a href="{% url news-read slug=new.slug %}">{{new.title}}</a></h1> </header>
	<article> <p>{{new.content|truncatewords:20}}</p>

	<p>{% if new.date_end %}
		{% trans "From" %} {{new.date_start}} {% trans "to" %} {{new.date_end}}.
	{% else %}
		{% trans "Posted the" %} {{new.date_start}}.
	{% endif %}</p></article>
	{%endif%}
{% endfor %}
{% endblock %}
