{% extends "base.html" %}

{% load i18n %}

{% block head-title %}- {% trans "News" %}{% endblock %}
{% block content-title %}{% trans "News" %}{% endblock %}

{% block content %}
{% for new in news %}
	{% if new.category.name == "Maintenance" %}
	<header> {{new.title}} </header>
	<article> {{new.content}}</article>
	{% endif %}
{% endfor %}
{% for new in news %}
	{% if new.category.name != "Maintenance" %}
	<header> {{new.title}} </header>
	<article> {{new.content}}</article>
	{% endif %}
{% endfor %}
{% endblock %}
