<!DOCTYPE html>
<html lang="fr"><!-- TODO: penser à mettre la langue vraiment utilisée sur la page à la place -->
{% load i18n %}

	<head>
		<meta charset="utf8" />
		<title>{% trans "Maiznet" %}{% block head-title %}{% endblock %}</title>

		<!-- CSS -->
		<!-- <link rel="stylesheet" href="{{ MEDIA_URL }}/static/css/reset.css" /> -->
		<link rel="stylesheet" href="{{ MEDIA_URL }}/static/css/style.css" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ MEDIA_URL }}/static/images/favicon.ico" />

		<!--
		Un script pour "activer" HTML5 dans les versions d'IE<9.
		Pour plus d'informations, voir
		http://remysharp.com/2009/01/07/html5-enabling-script/
		-->
		<!--[if lt IE 9]>
		<script src="{{ MEDIA_URL }}/static/js/ie-html5.js"></script>
		<![endif]-->

		{% block head-feed %}{% endblock %}
	</head>

	<body>
		<header>
			<hgroup>
				<h1>{% trans "Maiznet" %}</h1>
				<h2>{% trans "The website that's good" %}</h2>
			</hgroup>

			<nav>
				<h1>{% trans "Main Menu" %}</h1>

				<ul>
					<li><a href="{% url news-index %}">{% trans "News" %}</a></li>
					<li><a href="{% url register-index %}">{% trans "Register" %}</a></li>
					<li><a href="#">{% trans "About" %}</a></li>
					<li><a href="#">{% trans "Monitoring" %}</a></li>

					{% if user.is_authenticated %}
					<li>{{ user }} (<a href="{% url logout %}">{% trans "Log Out" %}</a>)</li>
					{% else %}
					<li><a href="{% url login %}">{% trans "Log In" %}</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>

		<div id="wrapper">
			<aside id="sidebar">
				<p>{% trans "What a wonderful sidebar" %}</p>
			</aside>

			<section id="content">
				<h1>{% block content-title %}{% endblock %}</h1>

				{% block content %}{% endblock %}
			</section>
		</div>
	</body>
</html>
