<!DOCTYPE html>
<html lang="fr"><!-- TODO: penser à mettre la langue vraiment utilisée sur la page à la place -->
	<head>
		<meta charset="utf8" />
		<title>Maiznet{% block head-title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}/static/css/style.css" />
		<link rel="shortcut icon" href="{{ MEDIA_URL }}/static/images/favicon.ico" />

		<!--
		Un script pour "activer" HTML5 dans les versions d'IE<9.
		Pour plus d'informations, voir
		http://remysharp.com/2009/01/07/html5-enabling-script/
		-->
		<!--[if lt IE 9]>
		<script src="{{ MEDIA_URL }}/static/js/ie-html5.js"></script>
		<![endif]-->

		{% block head-feed %}{% endblock %}
	</head>

	<body>
		<header>
			<hgroup>
				<h1>Maiznet</h1>
				<h2>Le site du club qu'il est bien.</h2>
			</hgroup>

			<nav>
				<ul>
					<li><a href="#">News</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">À propos</a></li>
					<li><a href="#">Monitoring</a></li>
				</ul>
			</nav>
		</header>

		<div id="wrapper">
			<aside id="sidebar">
				<p>Oooooh la sidebar</p>
			</aside>

			<section id="content">
				<h1>{% block content-title %}{% endblock %}</h1>

				{% block content %}{% endblock %}
			</section>
		</div>
	</body>
</html>
